# General config
bind 0.0.0.0
protected-mode no
port {{ instance.sentinelPort }}
daemonize yes
supervised systemd
pidfile "/run/sentinel/redis-sentinel-{{ instance.redisPort }}.pid"
loglevel notice
logfile "{{ sentinelLog }}"
dir "{{ conf.dataDir }}"
acllog-max-len 128
requirepass {{ instance.redis_password }}


# Sentinel Config 
sentinel deny-scripts-reconfig yes
sentinel resolve-hostnames no
sentinel announce-hostnames no
# We don't use notification script duo duplication. We use check_log plugin in CMK to handle this fucking event!
# sentinel notification-script {{ sentinelName }} /opt/notify_redis_{{ instance.redisPort }}.py
# Sentinel important config
sentinel monitor {{ sentinelName }} {{ instance.masterHost }} {{ instance.redisPort }} 2
sentinel auth-pass {{ sentinelName }} {{ instance.redis_password }}
sentinel down-after-milliseconds {{ sentinelName }} {{ conf.down_after_milliseconds }}
sentinel failover-timeout {{ sentinelName }} {{ conf.failoverTimeout }}
sentinel parallel-syncs {{ sentinelName }} 1
